{% extends 'layout.html' %}

{% block main %}
<div style="margin-top: 20px;" class="w3-center w3-myfont" style="width: 60%;">
    <div style="font-size: xx-large;">Rayhan Vai</div>
    <div>
        <iframe src="https://player.vimeo.com/video/422622598" width="400" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
</div>
<div style="margin-top: 40px;" class="w3-center w3-myfont" style="width: 60%;">
    <div style="font-size: xx-large;">Nora Fatehi</div>
    <div>
        <iframe src="https://player.vimeo.com/video/422624122" width="640" height="362" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
</div>
<div style="margin-top: 40px;" class="w3-center w3-myfont" style="width: 60%;">
    <div style="font-size: xx-large;">Shamim Vai er Leaked Video</div>
    <div>
        <iframe src="https://player.vimeo.com/video/422625464" width="300" height="600" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
