{% extends 'layout.html' %}

{% block main %}
<div class="w3-container w3-card-4" style="margin-top: 20px; width: 40%; margin-left: 30%;">
      <img src="{{url_for('static',filename='euelixir.png')}}" alt="Euphoria Elixir" style="width:100%">
      <div class="w3-container w3-center">
        <p>Elixir of Euphoria</p>
        <p><b>Price:</b> 1499<img src="{{url_for('static', filename='coin.png')}}" style="width: 20px;"></p>
        <p><b>Owner:</b> None</p>
      </div>
</div>
<div class="w3-container w3-card-4" style="margin-top: 20px; width: 40%; margin-left: 30%;">
      <img src="{{url_for('static',filename='venom.png')}}" alt="Acromantula Venom" style="width:100%">
      <div class="w3-container w3-center">
        <p>Acromantula Venom</p>
        <p><b>Price:</b> 1799<img src="{{url_for('static', filename='coin.png')}}" style="width: 20px;"></p>
        <p><b>Owner:</b> None</p>
      </div>
</div>
<div class="w3-container w3-card-4" style="margin-top: 20px; width: 40%; margin-left: 30%;">
    <img src="{{url_for('static',filename='amortentia.png')}}" alt="Amortentia" style="width:100%">
    <div class="w3-container w3-center">
      <p>Amortentia</p>
      <p><b>Price:</b> 1799<img src="{{url_for('static', filename='coin.png')}}" style="width: 20px;"></p>
      <p><b>Owner:</b> None</p>
    </div>
</div>
<div class="w3-container w3-card-4" style="margin-top: 20px; width: 40%; margin-left: 30%;">
    <img src="{{url_for('static',filename='horn.png')}}" alt="Erumpent Horn" style="width:100%">
    <div class="w3-container w3-center">
      <p>Erumpent Horn</p>
      <p><b>Price:</b> 2199<img src="{{url_for('static', filename='coin.png')}}" style="width: 20px;"></p>
      <p><b>Owner:</b> None</p>
    </div>
</div>
<div class="w3-container w3-card-4" style="margin-top: 20px; width: 40%; margin-left: 30%;">
    <img src="{{url_for('static',filename='cloak.png')}}" alt="Invisibility Cloak" style="width:100%">
    <div class="w3-container w3-center">
      <p>Invisibility Cloak</p>
      <p><b>Price:</b> 2499<img src="{{url_for('static', filename='coin.png')}}" style="width: 20px;"></p>
      <p><b>Owner:</b> None</p>
    </div>
</div>
<div class="w3-container w3-card-4" style="margin-top: 20px; width: 40%; margin-left: 30%;">
    <img src="{{url_for('static',filename='luck.png')}}" alt="Liquid Luck" style="width:100%">
    <div class="w3-container w3-center">
      <p>Felix Felicis</p>
      <p><b>Price:</b> 2999<img src="{{url_for('static', filename='coin.png')}}" style="width: 20px;"></p>
      <p><b>Owner:</b> None</p>
    </div>
</div>
<div class="w3-container w3-card-4" style="margin-top: 20px; width: 40%; margin-left: 30%;">
    <img src="{{url_for('static',filename='time.png')}}" alt="Time Turner" style="width:100%">
    <div class="w3-container w3-center">
      <p>Time Turner</p>
      <p><b>Price:</b> 3299<img src="{{url_for('static', filename='coin.png')}}" style="width: 20px;"></p>
      <p><b>Owner:</b> None</p>
    </div>
</div>
<div class="w3-container w3-card-4" style="margin-top: 20px; width: 40%; margin-left: 30%;">
    <img src="{{url_for('static',filename='deluminator.png')}}" alt="Deluminator" style="width:100%">
    <div class="w3-container w3-center">
      <p>Deluminator</p>
      <p><b>Price:</b> 3299<img src="{{url_for('static', filename='coin.png')}}" style="width: 20px;"></p>
      <p><b>Owner:</b> None</p>
    </div>
</div>
<div class="w3-container w3-card-4" style="margin-top: 20px; width: 40%; margin-left: 30%;">
    <img src="{{url_for('static',filename='stone.png')}}" alt="Philosopher's Stone" style="width:100%">
    <div class="w3-container w3-center">
      <p>Philosopher's Stone</p>
      <p><b>Price:</b> 4999<img src="{{url_for('static', filename='coin.png')}}" style="width: 20px;"></p>
      <p><b>Owner:</b> None</p>
    </div>
</div>
{% endblock %}